.about-us {
  margin-bottom: 33em;
  border: $panelBorderColor;
  .panel-heading {
    background-color: $panelHeaderBackgroundColor;
    font-size: 2em;
    margin: 0;
    color: $panelHeaderFontColor;
    border: 3px solid $panelBorderColor;
  }
  .panel-body {
    margin-bottom: 0;
    border: 3px solid $panelBorderColor;
  }
}
