.about-us {
  .panel-heading {
    background-color: #003319;
    height: 60px;
    display: flex;
    font-size: 20px;
    margin: 0;
    color: $headerFontColor;
  }

  margin-bottom: 30em;

  .panel-body {
    background-color: #FFFFFF;
  }
}
