.add-park {
  .panel-heading {
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px 3px black;
    background-color: $panelHeaderBackgroundColor;
    margin: 0;
    font-size: 2em;
    color: $panelHeaderFontColor;
    border: 3px solid $panelBorderColor;
  }
  .panel-body {
    border: 3px solid $panelBorderColor;
  }

  .btn-success {
    margin-top: 1.5em;
    border: 3px solid $navbarBackgroundColor;
  }
}
