.add-park {
  background-color: #CCFFCC;

  .panel-heading {
    background-color: #003319;
    height: 60px;
    display: flex;
    margin: 0;
    font-size: 20px;
    padding-bottom: 5em;
    color: $headerFontColor;
  }

  .panel-body {
    background-color: white;
  }
}
