.add-park {
  background-color: #CCFFCC;

  .panel-heading {
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px 3px black;
    background-color: #003319;
    margin: 0;
    font-size: 2em;
    color: $headerFontColor;
    border: 3px solid $navbarBackgroundColor;
  }

  .panel-body {
    background-color: white;
    border: 3px solid $navbarBackgroundColor;
  }

  .btn-success {
    margin-top: 1.5em;
    border: 3px solid $navbarBackgroundColor;
  }
}
