@media screen and (min-width: 70em){

  .page-header {
    background: url(/img/desktop-dog-header.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #CCFFCC;
    h1{
      color: black;

    }
    h2{
      color: black;
    }
  }

}
