footer {
  height: 1.5em;
  background-color: $footerBackgroundColor;
  color: $footerFontColor;

  p {
    margin: .5em;
  }
}

@media screen and (min-width: 35em) {
  footer {
    height: 2em;

    p {
      padding-top: .3em;
    }
  }
}

@media screen and (min-width: 70em) {
  footer {
    height: 3em;

    p {
      padding-top: .8em;
    }
  }
}
