likes {
  font-size: 1.5em;
  display: flex;
  border: 2px solid $navbarBackgroundColor;
  height: 3em;
  padding: 0.3em 0 3.1em 0.5em;
  border-radius: 15px;
  background-color: #51BAF2;

  section {
    aside {
      margin-right: .5em;
      color: white;
    }

    p {
      margin-right: .5em;
    }
  }
}

@media screen and (min-width: 35em) {
  likes {
    padding: 0.4em 0 3.2em 0.5em;
  }

  .thumbs-up {
    width: 2.5em;
  }
}
