.location-search {
  label {
    color: #FFFFFF;
  }

  select {
    margin-bottom: .3em;
    border: 2px solid $navbarBackgroundColor;
  }

  input {
    margin-bottom: .3em;
    border: 2px solid $navbarBackgroundColor;
  }

  button {
    border: 2px solid $navbarBackgroundColor;
  }
}
@media screen and (min-width: 35em) {
.location-search {
  width: 50%;
}
}

@media screen and (min-width: 70em){
  .location-search {
    width: 30%;
  }
}
