.parkMap {
  height: 400px;
  width: 100%;
}

#floating-panel {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 2em;
}
