.parks-list {
  border: 3px solid $navbarBackgroundColor;
  border-radius: 10px;

  .panel-heading {
    background-color: #003319;
    display: flex;
    color: $headerFontColor;

    main {
      width: 50%;
    }

    ul {
      padding-left: 0;
      list-style: none;
    }
  }

  .panel-body {
    display: flex;
    justify-content: space-between;

    main {
      margin-right: 1em;
      width: 100%;
    }

    main button {
      width: 5em;
    }
  }
}

.hidden {
  display: none;
}
