.parks-list {
  .panel-heading {
    background-color: #003319;
    display: flex;
    color: $headerFontColor;

    main {
      width: 50%;
    }

    ul {
      padding-left: 0;
      list-style: none;
    }
  }

  .panel-body main button {
    margin-top: 2em;
  }
}

.hidden {
  display: none;
}
