$headerFontColor: #FCFA87;
$navbarBackgroundColor: #003319;
$navbarFontColor: #FCFA87;
$panelHeaderBackgroundColor: #003319;
$panelHeaderFontColor: #FCFA87;
$panelBorderColor: #003319;
$panelBodyBackgroundColor: #FFFFFF;
$footerBackgroundColor: #003319;
$footerFontColor: #FCFA87;
$likesBorderColor: #003319;
$likesBackgroundColor: #51BAF2;
$likesColor: #FFFFFF;
$searchFieldBorder: #003319;
$mapBorder: #003319;
