$headerFontColor: #FCFA87;
$navbarBackgroundColor: #003319;
$navbarFontColor: #FCFA87;
$panelHeaderBackgroundColor: #003319;
$panelHeaderFontColor: #FCFA87;
$panelBorderColor: #003319;
$panelBodyBackgroundColor: #FFFFFF;
$footerBackgroundColor: #003319;
$footerFontColor: #FCFA87;
