<main class='location-search'>
  <h2>Search for Barks by zip code or your current location!</h2>
  <form class='form-group col-lg-8'>
    <label for='zip'>Search by zip code</label>
    <input name='zip' type='number' class='form-control' placeholder='Enter Zip Code'>
    <button type='submit' class='form-control btn btn-default' value='Search'>Search</button>
  </form>
</main>

<section>
  <aside id="floating-panel">
    <input id="parkAddress" type="textbox" value="Address or Bark Name">
    <input id="findPark" type="button" value="Find the Bark!">
  </aside>
  <map park-objects='parksCtrl.parks' center='parksCtrl.center' park-marker-clicked='parksCtrl.parkMarkerClicked'></map>
</section>
