<section class='parks-list panel panel-default'>
  <header class='panel-heading'>
    <main>
      <strong>Bark</strong>
      <p>{{parkObject.name}}</p>
    </main>
    <main class='address'>
      <strong>Address</strong>
      <ul>
        <li>{{parkObject.street}}</li>
        <li>{{parkObject.city}}, {{parkObject.state}} {{parkObject.zipcode}}</li>
      </ul>
    </main>
  </header>
  <article ng-controller= 'ParksController as parksCtrl' class='panel-body'>
      <strong>Description</strong>
      <p>{{parkObject.description}}</p>
    <main>
      <likes park='park'></likes>
    </main>
  </article>
</section>
