<section class='parks-list panel panel-default'>
  <header class='panel-heading'>
    <main>
      <strong>Bark</strong>
      <p>{{park.name}}</p>
    </main>
    <main class='address'>
      <strong>Address</strong>
      <ul>
        <li>{{park.street}}</li>
        <li>{{park.city}}, {{park.state}} {{park.zipcode}}</li>
      </ul>
    </main>
  </header>
  <article class='panel-body'>
    <main>
      <strong>Description</strong>
      <p>{{park.description}}</p>
    </main>
    <main>
      <likes park='park'></likes>
    </main>
  </article>
</section>
