<section class='parks-list panel panel-default'>
  <header class='panel-heading'>
    <aside class=‘glyphicon glyphicon-thumbs-up’></aside>
     <aside class=‘glyphicon glyphicon-thumbs-down’></aside>
    <ul>
      <li>{{park.name}}</li>
    </ul>
    <!-- <p park=‘park’ class=‘likes’>{{park.likes}}</p>
    <p park=‘park’ class=‘dislikes’>{{park.dislikes}}</p> -->
  </header>
  <article class='panel-body'>
    <ul>
      <li>{{park.street}}</li>
      <li>{{park.city}}</li>
      <li>{{park.state}}</li>
      <li>{{park.zipcode}}</li>
    </ul>

  </article>

</section>
