<section class='parks-list panel panel-default'>
  <header class='panel-heading'>
    <main>
      <strong>Bark</strong>
      <p>{{park.name}}</p>
    </main>
    <main class='address'>
      <strong>Address</strong>
      <ul>
        <li>{{park.street}}</li>
        <li>{{park.city}}, {{park.state}} {{park.zipcode}}</li>
      </ul>
    </main>
  </header>
  <article ng-controller='ParksController as parksCtrl' class='panel-body'>
    <main ng-controller='LoginController as loginCtrl' class='description-section'>
      <strong>Description</strong>
      <p>{{park.description}}</p>
      <button class='btn btn-danger col-xs-3' ng-show='loginCtrl.isLoggedIn()' ng-click='parksCtrl.deleteAPark(park._id)'>Delete
      </button>
    </main>
    <main>
      <likes park='park' class='likes'></likes>
    </main>
  </article>
</section>
